@page
@model Describe_It.Pages.FileUploadModel

<section>
    <form class="form-group" method="post" enctype="multipart/form-data">
        <div>
            <label></label>
            <input type="file" asp-for="Upload" />
            <input type="submit"/>
        </div>
    </form>
</section>